main {
  background-color: #191919;
}

p {
  min-height: calc(100vh - 398px);
}

h1 {
  color: white;
  font-size: 30px;
  background-color: #191919;
  padding: 30px;
  padding: 20px;
}

.filmes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
  padding: 20px;
}
